* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  /* Putting default font-size to 10px */
  font-size: 0.625em; /* fallback IE8+ */
  font-size: calc(
    1em * 0.625
  ); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  scroll-behavior: smooth;
}
body {
  font-size: 1.6em; /* base font-size is equivalent "16px" */
  background-color: #0b132b;
  color: var(--white);
  font-family: 'Roboto';
}
article {
  margin: 2rem 1rem;
}

/*----------------------------*/
/*          COLORS            */
/*----------------------------*/

html {
  --darkerGrey: #0b132b;
  --darkGrey: #1c2541;
  --yellow: #d4b52f;
  --green: #509d77;
  --pink: #d97ab5;
  --blue: #45a0ec;
  --purple: #9e87cb;
  --red: #d66f75;
  --grey: #83a1bb;
  --white: #ffffff;
}

.yellow-text {
  color: var(--yellow);
}
.pink-text {
  color: var(--pink);
  border-color: var(--white);
}
.white-text {
  color: var(--white);
  border-color: var(--white);
}
.blue-text {
  color: var(--blue);
}
.purple-text {
  color: var(--purple);
}

/*----------------------------*/
/*          TITLES            */
/*----------------------------*/

img {
  width: 50px;
}
h1,
h2,
.player-name,
.page-title {
  text-transform: uppercase;
  text-align: center;
}
h1 {
  margin-top: 7rem;
  margin-bottom: 3rem;
}

/*----------------------------*/
/*          HEADER            */
/*----------------------------*/
.page-title {
  font-weight: bold;
  font-size: 2rem;
}
.page-title a {
  color: var(--white);
  text-decoration: none;
}
.page-header {
  text-align: center;
  text-transform: uppercase;
}
.page-header nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.page-header nav a {
  text-decoration: none;
  color: var(--white);
}

/*----------------------------*/
/*          BANNER            */
/*----------------------------*/

.intro-banner {
  background: url('../assets/home_background.png');
  background-size: cover;
  text-align: center;
  padding: 4rem 0;
}
.intro-banner h1 {
  margin-bottom: 5rem;
  margin-top: 0;
  font-size: 3rem;
}

/*----------------------------*/
/*          EQUIPE            */
/*----------------------------*/

.article-equipe h2 {
  text-align: center;
  width: 100%;
}
.article-equipe {
  display: flex;
  flex-wrap: wrap;
}
.article-equipe .team-info {
  width: 25%;
  text-align: center;
}
.article-equipe .team-info img {
  width: 100%;
}
.team-players {
  width: 75%;
}
.team-players p {
  margin: 0;
  text-align: right;
}
.team-players > p {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
}
.team-player-box {
  display: flex;
  width: 80%;
  margin-inline: auto;
  gap: 20%;
}
.team-player-card {
  width: 33%;
}
.team-player-card img {
  width: 100%;
  margin-inline: auto;
}
.team-name {
  text-transform: uppercase;
}

/*----------------------------*/
/*          JOUEURS           */
/*----------------------------*/

.article-players h2 {
  color: var(--pink);
  text-align: center;
  margin-bottom: 4rem;
}
.article-players {
  margin-top: 10rem;
}
.player-box {
  display: flex;
  justify-content: space-evenly;
}
.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max(200px, 25%);
}
.player-card img {
  width: 100%;
}
.player-card p {
  margin: 0;
  margin-top: 1rem;
}
.player-card .player-name {
  font-size: 2.4rem;
  font-weight: bold;
}
.team-name {
  text-transform: uppercase;
  font-size: 1.4rem;
}
/*----------------------------*/
/*          MATCH             */
/*----------------------------*/

.article-match {
  margin-top: 10rem;
}
.article-match h2 {
  color: var(--blue);
  text-align: center;
  margin-bottom: 4rem;
  width: 100%;
}
.article-match {
  display: flex;
  flex-wrap: wrap;
}
.match-infos {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.match-images {
  width: 70%;
  display: flex;
  gap: 10%;
  margin-inline: auto;
}
.match-images img {
  width: 30%;
}

/*-----------------------------------------------------------------*/
/*                   PAGE  JOUEURS                                 */
/*-----------------------------------------------------------------*/

.players-grid {
  display: flex;
  max-width: 1000px;
  margin-inline: auto;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
.player-link-button {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  border: 1.2px solid;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 5rem;
  font-size: 1.4rem;
}

/*-----------------------------------------------------------------*/
/*                   PAGE  JOUEUR                                  */
/*-----------------------------------------------------------------*/

.player-team-name {
  margin-top: 20rem;
}
.player-page-img {
  display: block;
  margin-inline: auto;
  width: 300px;
}
.player-team-performances {
  margin-top: 10rem;
}
.player-page-performance-table {
  margin-inline: auto;
  width: 80%;
  text-align: center;
  border: var(--darkGrey) 1.2px solid;
  padding-bottom: 3rem;
}
.player-page-performance-table thead {
  text-transform: uppercase;
}
.player-page-performance-table td {
  padding-top: 2rem;
}

/*-----------------------------------------------------------------*/
/*                   PAGE  MATCHS                                  */
/*-----------------------------------------------------------------*/

.match-link-button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  border: 1.2px solid;
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 1.4rem;
}
.matchs-match-title {
  text-transform: uppercase;
  font-size: 1.8rem;
}

/*-----------------------------------------------------------------*/
/*                   PAGE  MATCH                                  */
/*-----------------------------------------------------------------*/
.match-detail p {
  text-align: center;
}
.match-detail h2 {
  margin-top: 10rem;
}
.match-detail-imgs {
  width: 60%;
  margin-inline: auto;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.match-detail-imgs img {
  width: fit-content;
  min-width: 100px;
  max-width: 300px;
}
.match-winner-img {
  border: var(--green) solid 2px;
}

.match-page-performance-table {
  margin-inline: auto;
  width: 80%;
  text-align: center;
  border: var(--darkGrey) 1.2px solid;
  padding-bottom: 3rem;
}
.match-page-performance-table thead {
  text-transform: uppercase;
}
.match-page-performance-table td {
  padding-top: 2rem;
}
.match-page-performance-table tr {
  border: var(--darkGrey) 1.2px solid;
}

/*-----------------------------------------------------------------*/
/*                  PAGE    TEAMS                                  */
/*-----------------------------------------------------------------*/

.teams-team-name {
}
